/* FONTS
Listas fuentes para uso
--- */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');




/* @group SHARED STRUCTURES AND STYLES
------------------------------------ */
body { overflow-x: hidden; }
#wrapper { width: 100%; }
a, button { cursor: pointer;
    -webkit-transition: color 0.27s linear, background 0.27s linear, border-color 0.27s linear, opacity 0.3s linear, visibility 0.3s linear, box-shadow 0.3s linear, -webkit-transform 0.3s linear;
    -moz-transition: color 0.27s linear, background 0.27s linear, border-color 0.27s linear, opacity 0.3s linear, visibility 0.3s linear, box-shadow 0.3s linear, -moz-transform 0.3s linear;
    -ms-transition: color 0.27s linear, background 0.27s linear, border-color 0.27s linear, opacity 0.3s linear, visibility 0.3s linear, box-shadow 0.3s linear, transform 0.3s linear;
    -o-transition: color 0.27s linear, background 0.27s linear, border-color 0.27s linear, opacity 0.3s linear, visibility 0.3s linear, box-shadow 0.3s linear, transform 0.3s linear;
    transition: color 0.27s linear, background 0.27s linear, border-color 0.27s linear, opacity 0.3s linear, visibility 0.3s linear, box-shadow 0.3s linear, transform 0.3s linear;
}
.video-box,
.img-box { overflow: hidden; position: relative; }
.img-box > img { object-fit: cover; object-position: center center; height: 100%; width: 100%!important; }
.img-box video { object-fit: cover; object-position: center center; height: 100%; width: 100%!important; }
@supports(object-fit: cover) {
  .img-box > img { height: 100%!important; }
}
/* General Text
----------------------*/

:root {

  /* Colors: */
  --unnamed-color-10ccec: #10CCEC;
  --unnamed-color-0064a8: #0064A8;
  --unnamed-color-162e5a: #162E5A;
}


body {
  background-color: #ffffff;
  font-family: 'Open Sans';
}



.interactiveButton {
  color: var(--unnamed-color-162e5a);
  text-align: center;
  font: normal normal bold 16px/22px Open Sans;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  opacity: 1;
  cursor: pointer;
  background: #F8CE75 0% 0% no-repeat padding-box;
  padding: 24px;
}


.interactiveButton:hover {
  color: #ffffff;
  background-color: var(--unnamed-color-0064a8);
}


#header {
  width: 100%;
  position: relative;
  overflow: hidden;
}



#videoFullWidth {
  width: 100%;
}


#videoFullWidth__title {
  position: absolute;
  bottom: 40px;
  left: 138px;
}

#videoFullWidth__volume {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: .7;
  font-size: 2em;
  cursor: pointer;
}

#videoFullWidth__volume:hover {
  opacity: 1;
  color: var(--unnamed-color-0064a8);
}

#header span {
  color: var(--unnamed-color-162e5a);
  text-align: left;
  font: normal normal normal 48px/56px 'Poppins';
  letter-spacing: 0px;
  color: #FFFFFF;
}


.splide {
  max-width: 1181px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 38px;
  margin-bottom: 115px;
}





.splide__newsContainer {
  position: relative;
  border: 1px solid #707070;
  width: 336px;
  height: 406px;
  margin-left: auto;
  margin-right: auto;
}

.splide__slide img {
  width: 100%;
  max-height: 210px;
  margin: 0px 0px 10px;
}


.splide h4 {
  color: var(--unnamed-color-10ccec);
  text-align: left;
  font: normal normal normal 14px/19px 'Open Sans';
  letter-spacing: 0px;
  opacity: 1;
  margin-left: 24px;
  margin-top: 13px;
}


.splide h3 {
  font-family: 'Open Sans';
  color: var(--unnamed-color-162e5a);
  text-align: left;
  font: normal normal 600 20px/24px 'Open Sans';
  letter-spacing: 0px;

  opacity: 1;
  margin-left: 23px;
  margin-top: 13px;
}

.splide a {
  color: var(--unnamed-color-10ccec);
  text-align: left;
  font: normal normal 600 12px/17px 'Open Sans';
  letter-spacing: 2.4px;
  color: #10CCEC;
  text-transform: uppercase;
  opacity: 1;
  margin-left: 23px;
  position: absolute;
  bottom: 26px;
}

#banner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 108px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


#banner>div {
  display: flex;
  align-items: center;
}

#banner img {
  width: 100%;
}



#banner button {
  margin-left: 83px;
  margin-top: 23px;
}


#banner h2 {
  color: var(--unnamed-color-162e5a);
  text-align: left;
  font-size: 32px;
  line-height: 48px;
  font-family: 'Open Sans';
  font-weight: bold;
  letter-spacing: 0px;
  opacity: 1;
  margin-left: 83px;
}

#banner p {
  color: var(--unnamed-color-0064a8);
  text-align: left;
  font: normal normal normal 14px/36px Open Sans;
  letter-spacing: 0px;
  opacity: 1;
  margin-left: 83px;
  margin-top: 25px;
  margin-right: 62px;
}




  
  
#modal {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  position: fixed;
  top: -100%;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s;
}

#modal__content {
  width: 60%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 20px 20px 60px;
  text-align: center;
  background-color: #ffffff;
  color: var(--unnamed-color-162e5a);
  border: 1px solid #707070;
  overflow: hidden;
}



#modal h2 {
color: var(--unnamed-color-162e5a);
text-align: left;
font-size: 32px;
line-height: 48px;
font-family: 'Open Sans';
font-weight: bold;
letter-spacing: 0px;
opacity: 1;
margin-top: 107px;
margin-left: 83px;
margin-right: 83px;
}

#modal p {
color: var(--unnamed-color-0064a8);
text-align: left;
font: normal normal normal 14px/36px Open Sans;
letter-spacing: 0px;
opacity: 1;
margin-left: 83px;
margin-right: 83px;
margin-top: 25px;
}


.modal__label--close {
  position:absolute;
  bottom: 10px;
  right: 10px;
}



@media only screen and (max-width : 769px) {

  #modal__content {
    width: 90%;
  }
  #modal h2 {
    margin-top: 40px;
    margin-left: 23px;
    margin-right: 23px;
  }
  
  #modal p {
    margin-left: 23px;
    margin-right: 23px;
  }

  #banner {
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }


  #banner p, #banner h2, #banner button{
    margin-left: 14px;
    margin-right: 53px;
  }



  .splide__newsContainer {
    border-left: none;
    border-right: none;
    border-top: none;
  }

  .splide {
    margin-bottom: 41px;
  }
  

  #videoFullWidth {
    width: unset;
  }

  #videoFullWidth__title {
    bottom: 7px;
    left: 20px;
  }
}

@media only screen
and (min-width : 769px) {
}
@media only screen
and (min-width : 769px)
and (max-width : 1440px) {
}
@media only screen
and (min-width : 0)
and (max-width : 768px) {
}

/* @end */

/* @group RESET GENERAL DE TAMAÑO
------------------------------------ */
.no-mobile {}

@media only screen
and (min-width : 769px) {
  .mobile { display: none!important; }
}
@media only screen
and (min-width : 769px)
and (max-width : 1440px) {
}
@media only screen
and (min-width : 0)
and (max-width : 768px) {
  .no-mobile { display: none!important; }
  /* html { font-size: 7px; } */
}
@media only screen
and (min-width : 0)
and (max-width : 600px) {
  /* html { font-size: 5px; } */
}
/* @end */

/* --- */
